php_flag display_errors on
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^coffees/([0-9]+)$ controller/CoffeeController.php?coffeeid=$1 [L]
RewriteRule ^coffees/page/([0-9]+)$ controller/CoffeeController.php?page=$1 [L]
RewriteRule ^coffees$ controller/CoffeeController.php [L]

RewriteRule ^users$ controller/UserController.php [L]

RewriteRule ^sessions/([0-9]+)$ controller/SessionController.php?sessionid=$1 [L]
RewriteRule ^sessions$ controller/SessionController.php [L]